.ContenedorU{
    width: 70%;
    margin: 10%;
    height: 100%;
}

.tabs{
    margin-left: -2%;
}

.tab1,.tab2{
    margin-bottom: 1%;
}

.btn-group-vertical{
    margin-right: 3%;
}

.btn{
    border-radius: 10px;
}

.btn-primary{
    background-color: #008080;
}

input{
    background-color: rgb(187, 186, 186);
}


label{
    color: black;
}





